# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Collapse.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Nirski\Projects\Collapse\.idea\.idea.Collapse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
